{% extends 'layout.html' %}
{%block title%}   {% endblock %}

{% block content %}

                                                                {% comment %}
{% for row in data %}
<p> {{row.name}}</p>
<p> {{row.email}}</p>
<p> {{row.address}}</p>
{% endfor %}
                                                                                                        we use {{}} for display purpose.. it works exactly like print command
                                                                {% endcomment %}

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Bank</th>
        <th>Email</th>
          <!--<th> Action </th>-->
      </tr>
    </thead>
    <tbody>
    {% for row in data %}
      <tr>
        <td>{{row.name}}</td>
        <td>{{row.bank.name}}</td>
        <td>{{row.email}}</td>
          <!--<td>
                <span> <a href="update/{{row.id}}" class="btn btn-primary btn-sm">UPDATE </a> </span>
                <span> <a href="view/{{row.id}}" class="btn btn-success btn-sm">VIEW </a> </span>
                <span> <a href="delete/{{row.id}}" class="delete btn btn-warning btn-sm">DELETE </a> </span>
          </td>-->
      </tr>
    {% endfor %}
    </tbody>
  </table>



                                                                            {% comment %}
                                                                                                                    using javascript below for confirm...
                                                                            {% endcomment %}

<script>

    $(document).ready(function () {
        $('.delete').click(function () {
            if(confirm('Are you sure to delete this ?')) {

                return true;
            }
            else{

                return false;

            }

        });
    });

</script>

{% endblock %}